<div class="pull-right owners">
  <% if current_user %>
    <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Restaurant Owners Sign In", new_user_session_path(owners: true), class: "btn btn-warning" %>
  <% end %>
 </div> 
 <div class="jumbotron">
  <h1>Welcome!</h1>
  <p>Earn Dedicated Diner Dollars each time you dine at your favorite local restaurant.</p>
  <p>Enroll FREE only once for your choice of any or all of the participating restaurants.</p>
  <p>When your bill points at your choosen establishment accumulate to 250<br />   
    you will receive $25 Diner Dollars which you can redeem the next time you dine.</p>  

  </div>
<div class="choices">
  <%= link_to "ENROLL NOW!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <p>OR <br /> Already a member?</p>
  <%= link_to "Check My Diner Dollars", new_user_session_path, class: "btn btn-lg btn-success" %>
</div>

<h2>&diams; PARTICIPATING LOCAL RESTAURANTS &diams; </h2>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img  src="/themex.jpeg" alt="TheMex" >
      <%= image_tag 'themex.jpeg' %>
      <div class="caption">
        <h3>Restaurant Name</h3>
        <p>Restaurant Address and Style</p>
        <p><a href="#" class="btn btn-primary" role="button">Restaurant Website</a> </p>
      </div>
    </div>
  </div>
</div>


